* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html { font-size:62.5%;}

body {
    background-color: #050B55;
}


main {
    color: white;
    text-align: center;
    font-family:'Tahoma', sans-serif;
}

/*Começo da estilização das Seções*/

section {
    width: 100%;
    margin: auto;
}

.section1 {
    height: 795px;
    position: relative;
    top: 0;
    background-image: url(../page-for-book-project/assets/web-5371562_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section2,.section3 {
    border-top: solid 1px gray;
    padding: 40px 0;
}

.section3 {
    background-image: url(../page-for-book-project/assets/alien-4713843_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.imageAutor { 
    padding: 1px;
    position: relative;
    top: 50px;
    left: 400px;
    border-radius: 50%;
    border: 1px solid red;
    width: 160px;
}

.section3 p {
    padding-top: 150px;
    font-size: 2rem;
}

.section3 h2 {
    font-size: 2.5rem;
}

.footer {
    border-top: solid 1px gray;
    padding-top: 49px;
    padding-bottom: 5px;
}

/*Estilização dos textos*/

h1 {
    text-shadow: 1px 2px 2px black;
    font-size: 2.5rem;
    text-decoration-line: underline;
    padding-top: 5px;
    margin-bottom: 21px;
}

img {
    width: 190px;
}

h2 {
    text-shadow: 2px 2px 2px black;
    margin: 20px;
    font-size: 2rem;
}

p {
    margin: 20px auto;
    width: 100%;
    max-width: 930px;
    font-size: 1.9rem;
    text-shadow: 1px 2px 2px red;
    line-height: 27px;
}

a {
    margin: 10px 0;
    position: relative;
    bottom: 10px;
    color: #ffff;
    background-color: rgb(24, 190, 93);
    padding:5px 15px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    border: 2px solid white;
    background-color: blue;
    
}

span {
    color: rgb(202, 32, 32);
    text-shadow: 3px 2px 2px #00008B;
    font-weight: bold;
    font-size: 2.1rem;
}

/*Responsividade do site*/
@media (min-width:320px) and (max-width: 989px) {
    html {font-size: 54%;}
    section {width: 100%; height: auto;}
    h1 {text-decoration: none;}
    p {padding: 0 20px;}
    .section1 p {
        color: black;
    }
    .imageAutor {top: 0; left: 0;}
}
